<%= content_for :javascript do %>
  import { Controller } from "stimulus"
  import { TemplateInstance } from "https://cdn.skypack.dev/@github/template-parts"

  class ClipboardController extends Controller {
    copy({ target: { value } }) {
      navigator.clipboard.writeText(value)
    }
  }

  class CloneController extends Controller {
    static targets = [ "template" ]
    static values = { count: Number, counter: String }

    templateTargetConnected(target) {
      const templateInstance = new TemplateInstance(target, {
        [this.counterValue]: this.countValue
      })

      target.content.replaceChildren(templateInstance)

      this.countValue++
    }
  }

  application.register("clipboard", ClipboardController)
  application.register("clone", CloneController)
<% end %>

<section>
  <h1>Say Hello</h1>

  <%= render "turbo_stream_button", id: "hello_button" do |button| %>
    Say hello

    <% button.turbo_streams do %>
      <%= turbo_stream.after "hello_button", tag.div(params.fetch(:message, "Hello, world"), role: "status") %>
    <% end %>
  <% end %>
</section>

<section>
  <h1>Copy to Clipboard</h1>

  <div id="clipboard_flash" role="alert"></div>

  <%= render "turbo_stream_button", value: params.fetch(:invitation_code, "abc123"),
                                    data: { controller: "clipboard", action: "click->clipboard#copy" } do |button| %>
    Copy to clipboard

    <% button.turbo_streams do %>
      <turbo-stream action="append" target="clipboard_flash">
        <template>
          <div role="status">Copied "<%= params.fetch(:invitation_code, "abc123") %>" to clipboard.</div>
        </template>
      </turbo-stream>
    <% end %>
  <% end %>

  <label for="invitation_code">Invitation code (paste here)</label>
  <input id="invitation_code">
</section>

<section>
  <h1>Nesting</h1>

  <div id="nesting_flash" role="alert"></div>

  <%= render "turbo_stream_button" do |button| %>
    Append to flash

    <% button.turbo_streams do %>
      <turbo-stream action="append" target="nesting_flash">
        <template>
          <div id="a_flash_message" role="status">
            <%= params.fetch(:message, "Hello, world") %>

            <%= render "turbo_stream_button" do |button| %>
              Dismiss

              <% button.turbo_streams do %>
                <turbo-stream action="remove" target="a_flash_message"></turbo-stream>
              <% end %>
            <% end %>
          </div>
        </template>
      </turbo-stream>
    <% end %>
  <% end %>
</section>

<section>
  <h1>Form fields</h1>

  <%= form_with scope: :applicant do |form| %>
    <fieldset data-controller="clone" data-clone-counter-value="counter" data-clone-count-value="0">
      <legend>References</legend>

      <ol id="references"></ol>

      <%= form.fields :reference_attributes, index: "{{counter}}" do |reference_form| %>
        <%= render "turbo_stream_button" do |button| %>
          Add reference

          <% button.turbo_streams do %>
            <turbo-stream action="append" target="references">
              <template data-clone-target="template">
                <li>
                  <%= reference_form.label :referrer %>
                  <%= reference_form.text_field :referrer %>

                  <%= reference_form.label :relationship %>
                  <%= reference_form.text_field :relationship %>
                </li>
              </template>
            </turbo-stream>
          <% end %>
        <% end %>
      <% end %>
    </fieldset>
  <% end %>
</section>
